* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(50 50 50);
  width: 100vw;
}

.body {
  display: flex;
  height: 95.75vh;
  margin: 0;
  padding: 0;
}

.body-right {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0 1.3em;
  height: 100%;
}

.body-RightBottomSection {
  display: flex;

  margin-top: 1.3em;
  height: 82%;
}
